.cell {
    background-color: red;
}

.gridcontainer {
    display: grid;
    grid-gap: 3px;    
}
.item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-3 {
    grid-row-start: 2;
    grid-row-end: 3;
}